
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

/* navlogo.png image design*/
.navLogo{
 margin: 0; 
 padding-right: 1.5em; 
 padding-top: 0.3em; 
 width: 27em;
}

/* NAV div style*/
.navDiv{
 background-color: #EFE5E9; 
 align-items: center;
 position: sticky;
 width: 100%;
 top: 0;
 left: 0;
 transition:top 0.3s ease;
 display: flex;
 z-index: 1001;
}


/* Home Page HEADING */
h1 {
 color: #AA9688;
 font-family: 'Optima';
 margin: 0; 
 font-size: 29px;
 font-weight: 150;
 margin-left: 1em;
 flex: 1; 
 vertical-align:middle;

 }


/* NAV BAR*/
nav a:hover {
 color: hotpink;
 text-decoration:underline;
}

.header-nav {
 display: flex;
 align-items: center; 
 background-color: white;
 margin-left: 30px;
 margin: 0;
 overflow: 0;
 overflow-y: scroll;
 vertical-align: middle;

}
/* nav{
 position: fixed !important;

 top: 0 !important;
 width: 100% !important;
 z-index: 1000 !important;
} */
ul {
 list-style-type: none;
 font-family: 'Optima';
 font-size: 23px;
 vertical-align:middle;
}

li {
 display: inline;
 margin-left: 30px; 
 margin-right: 40px;
 font-family: 'Playfair Display';
}
li a {
 text-decoration: none;
 color: #AA9688;
}

li a:hover {
 text-decoration: underline;
 text-decoration-color: #AA9688;
}
.dropdown-content{
 display: none;
 position: absolute;
 background-color:#EFE5E9 ;
 min-width: 260px;
 box-shadow: 0px 0px 16px 0px;
 z-index: 1;
 padding-top: 1em;
 padding-bottom: 1em;
 padding-left: .5em;
 padding-right: .5em;

}
.dropdown{
 position: relative;
 display: inline-block;
}
.dropdown:hover .dropdown-content{
 display: block;
}

.dropdownItems{
 text-align: left;
}

.dropdownRecipes{
 font-size: 18px; 
 display: flex; 
 flex-direction: 
 column; align-items: start; 
 text-align: left;
 justify-content: start;
 list-style: none;
 line-height: 30px;
}




footer{
   background-color: #EFE5E9;
   text-align: center;
   padding-top: 2em;
 }
 
 
 
 
 .footerbutton{
   margin-left:1em; 
   margin-right: 1em; 
   background-color: #a6998e;
   margin-top: 20px;
   padding: 12px 24px;
   color: white;
   border: none;
   cursor: pointer;
   font-size: 1em;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s, transform 0.3s;
   font-family: "Playfair Display";
 }
  .footerbutton:hover{
   background-color: #4d3e35;
   transform: scale(1.05);
  }




  /*RECIPES HEADER*/
  .recipesheader{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10em;
    
  }
  .headerimg{
    width: 50vh;
  }
.recipesheadertext{
    font-size: 3.5em;
    font-family: 'Playfair Display';
    color: #fab4bc; 
}
.ingredients{
    color: #7c695c; 
    line-height: 30px;
    font-size: 1.5em;
}
.recipestitle{
    font-size: 2.5em;
    font-family: 'Playfair Display';
    color: #7c695c; 
    font-weight: bold;
    font-style: italic;
}

.instructions {
  color: #7c695c; 
  line-height: 30px;
  font-size: 1.5em;
  max-width: 50%;
}
.instructionsdiv{
  display: flex;
  justify-content: center;
  
}
